.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  z-index: 9999;

  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 500px;
  max-height: 85vh;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.modal-scroll-area {
  overflow-y: auto;
  margin: 15px 0;
  border-radius: 15px;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-rose) transparent;
}

.modal-img {
  width: 100%;
  display: block;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  background: var(--soft-pink);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--dark-text);
  font-size: 1.5rem;
  z-index: 10;
}

.git-btn {
  background: var(--accent-rose);
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
}

